html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  overscroll-behavior: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: none) {
  .el-scrollbar__bar {
    display: none !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
